.container {
        width: 100%;

    }

    .group-1 {
        width: 100%;
        height: 526px;

    }

    .content-1 {
        width: 200px;

    }

    .content-1 .font {
        font-family: 'Gilroy', ;
        font-weight: 700;
        font-size: 69px;
        margin-right: 20%;
    }

    .content-1 .par {

        margin-right: 20%;
    }

    .font span {
        color: blue;
    }

    .fitur-section {
        width: 90%;
        height: 456px;
    }

    .keterangan {
        width: 60%;



    }

    .keterangan h2 {
        text-align: end;
        font-family: 'Gilroy', ;
        font-weight: 700;
        font-size: 45px;
        padding-right: 50px;
        padding-top: 50px;
    }

    .keterangan p {
        text-align: justify;
        font-family: 'Gilroy', ;
        padding: 50px;
        color: white;
    }

    .keterangan span {
        color: white;
    }

    .card .par {
        font-weight: 700;
        font-size: 24px;
        color: white;
    }


    .temukan-section {
        width: 90%;

    }

    .title .title-temukan {
        font-family: 'Gilroy', ;
        font-weight: 700;
        font-size: 45px;

    }

    .title span {
        color: #006CEC;
    }

    .par .par-temukan {
        width: 50%;
        align-items: center;
    }


    .tujuan-section {}

    .tujuan-section .content-2 {}

    .tujuan-section .content-1 {}

    .content-1 .font-tujuan {

        text-align: left;
        font-family: 'Gilroy', ;
        font-weight: 700;
        font-size: 69px;
    }

    .content-1 .par-tujuan {

        font-weight: 400;
        text-align: left;
        font-size: 18px;
    }

    .font-tujuan span {
        color: #006CEC;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        background-color: #006CEC;

    }

    .footer .text {
        text-align: center;
        align-content: center;
        color: white;
        font-size: 21px;
        font-weight: 400;
        font-family: 'Gilroy', ;
    }
